* {
  box-sizing: border-box;
}
body{
 font-family: 'Cormorant Garamond', Garamond, serif;
 background-color:#fff;
 color:#424242;
 margin: 0;
}

.start-page {
  grid-template-rows: 200px 200px 200px;
}


article {
 padding: 0 10px;
 font-size: 19px;
 line-height:1.333;
 font-weight:100;
}
.story {

   margin:0 auto;
}
  @media (min-width: 600px) {
    .story {
     max-width: 600px;
      padding: 0 32px;
      font-size:23px;
    }
  }

.articles {
  display:flex;
  flex-wrap: wrap;
  justify-content:center;
}

.article-listing {
  flex: 0 1 450px;
  margin:20px;
  padding:0 20px 20px;
  background:#fcfcfc;
  border:1px solid #fcfcfc;

  text-align: center;
}

  .article-listing.coming {
    opacity: .7;
  }



.intro {
  text-align: center;
  font-style: italic;
  color:#909090;
}

.article-listing h1 {
  margin: 32px 0;
}

h1,h2,h3,h4,h4 {
 font-family: 'Open Sans Condensed', sans-serif;
 line-height: 1;
 clear:both;
 margin:12px 0 32px;
}
h1.title {
text-align: center;
margin:64px 0;
font-family: 'Cormorant Garamond', Garamond, serif;
}
h1 a{
  text-decoration: none;
  color:#424242;
}
h1 a:visited {
  color:#424242;
}

h1 a:hover {
  text-decoration: underline;
}

a {
  color: #f89b4c;

}
a:hover {
  color: #cc7037;
}
a:visted {
  color: #f89b4c;
}
p {
  margin: 0;
  text-align: justify;
}

p + p {
 text-indent: 32px;
}

img.full,
img.left,
img.right,
img.teaser {
  margin:12px auto;
  max-width: calc(100vw - 24px);
  display:block;
}




  @media (min-width: 600px) {
    img.full {
      margin:12px -64px;
      max-width: none;
      width: 728px;
    }

    img.teaser {
      width: calc(100% + 128px);
      max-width: none;
      margin: 0 -64px;
      border-radius: 2px;
      box-shadow: 1px 1px 5px -1px #ccc;
    }

    img.left {
      max-width:50%;
      float:left;
      margin: 6px 32px 12px -64px;
    }

    img.right {
      max-width:50%;
      float:right;
      margin: 6px -64px 6px 32px;
    }
  }

.back {
  position:fixed;
  top:0;
  left:0;
  display:block;
  padding:5px 10px;
  background:#fff;
  font-family: 'Open Sans Condensed', sans-serif;
  text-decoration: none;
}

  .back:hover {
    text-decoration: underline;
  }

.about {
  background-color:#424242;
  color:#cecece;
  padding:32px 0;
  margin:32px 0 0;
}

.about p {
  font-style: italic;
}

.about em {
  font-style: normal;
}
.space {
  width:200px;
  margin: 32px auto;
  border-bottom:1px dashed #cecece;
}

@media (min-width: 600px) {
  .space {
   margin: 64px auto;
  }
}
